:root {
    --theme-text-color: white;
    --content-height: 558px;
    
    background-color: black;
    display: flex;   
    color: var(--theme-text-color);
    font-size: 12px;
}

/* .left-content {
    margin: auto;
    display: flex;
    align-items: center;
} */

.content {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left-content {
    /* position: relative; */
    justify-content: center;
}

.right-content {
    height: var(--content-height);
    background-color: white;
}

.banner {
    background-color: rgba(1,1,1,.3);
    text-align: center;
    position: relative;
}

.title {
    top: -400px;
    font-size: 40px;
}
.photo-source {
    top: -15px;
    font-size: 10px;
}

a {
    color: var(--theme-text-color);
}